# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The Python implementation of HTTP server
# used by Flutter Web
__pycache__/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Android related
**/android/**/generated/
**/android/gen/
**/android/out/
**/android/app/google-services.json
.gradle/
build/
captures/
externalNativeBuild/
local.properties
*.apk
*.aab
*.bundle

# FVM related
.fvm/flutter_sdk

# Coverage
coverage/

# VS Code related
.vscode/
